.addUser {
  background-image: url("./images/dogn.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 75vh;
  padding: 20px;
}

.addUser h3 {
  color: #ffffff;
}

.addUserForm {
  background-color: rgba(230, 202, 249, 0.7);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  width: 300px;
}

.inputGroup {
  margin-bottom: 20px;
}

.inputGroup label {
  display: block;
  margin-bottom: 5px;
  color: black;
}

.inputGroup input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login {
  color: #322727;
  margin-top: 20px;
}

.login p {
  color: black;
  font-weight: bold;
}

.login a {
  color: #ffffff;
  text-decoration: none;
}

.login a:hover {
  text-decoration: underline;
}
